@media only screen and (max-width: 1024px){
    .container{
        padding: 15px;
    }





}
@media only screen and (max-width: 768px){
    .footer-box, .infirmations-box {
        padding:  0 15px ;
    }
    .reviews{
        padding: 30px 15px 0;
    }

nav{
    margin-top: 10px;
}



}
@media only screen and (max-width: 414px){
  .footer-box{
      flex-direction: column;
      text-align: center;
      line-height: 50px;
  }
    .about, .contact{
        margin-bottom: 20px;
        width: 100%;
    }
    .form-froup{
        width: 75%;
        margin: auto;
    }
.infirmations-box{
    flex-direction: column;
    text-align: center;
    margin: auto;
}





}